<h2>Menu</h2>

<ul>
<li><%= link_to "Time", :controller => "system_time" %></li>
<li><%= link_to "System Services", :controller => "services" %></li>
<br>
<br>
<li><%= link_to "Logout", logout_url -%></li>
<li><%= link_to "YaST-Web-Services", :controller => 'webservices' -%></li>
</ul>
