<%
#prepare array for options, maybe add to controller?
list = []
central = ""
region.entries.each() do |timezone|
  list.push timezone.name
  central = timezone.name if timezone.id == default
end
list.sort!
%>
<%= select_tag "timezone",
  options_for_select(list, central), :disabled=> disabled %>
