<%= report_error(error, _("An error occured when loading patch information.")) if error %>

<div class="status_patches">
  <% unless patch %>    
    <div class="status-icon warning"></div>    
    <%= _("No information about patches available") %>
  <% else %>
    <% link_to "patch_updates" do %>
      <% if patch[:security]+patch[:important] > 0 %>
        <div class="status-icon error"></div>
      <% elsif patch[:optional] > 0%>
        <div class="status-icon warning"></div>
      <% else %>
        <div class="status-icon ok"></div>
      <% end %>


      <% label = [] %>
      <% if patch[:security] > 0 %>
        <% label << _("Security Updates: #{patch[:security]}") %>
      <% end %>
      <% if patch[:important] > 0 %>
	<% label << _("Important Updates: #{patch[:important]}") %>
      <% end %>
      <% if patch[:optional] > 0 %>
	<% label << _("Optional Updates: #{patch[:optional]}") %>
      <% end %>
      <% if label.empty? %>
	<% label << _("Your system is up to date.") %>
      <% end %>
      <span><%= label.join(", ") %></span>
    <% end %>
  <% end %>
</div>
