<label for="#patches-list"><%=_("Available patches")%></label>
<div class="loading">
</div>

<div id="patch-list" class="patches-list loading">
</div>

<div id="check-updates-button" class="button">Check for updates</div>

<% javascript_tag do -%>
$(document).ready( function() {
  $('#progress').show();
  $('#patch-list').load('/patch_updates/list', null, function() { $('#progress').hide() } );
  $('div#check-updates-button').click(
    function() { $('#patch-list').load('/patch_updates/list') }
  );
});
//$('div#check-updates-button').hide();
<% end -%>

<a href="/" class="button"><%=_("Back")%></a>
