<h1><%=_("Accept End User Licence Agreement")-%></h1><br/>
<h3><%= _("There are no licenses to accept.") %></h3>
<%= form_back_button + form_str_spacer + (link_to "Next", :controller => "controlpanel", :action => "nextstep")%>
