<html>
<head>
  <title> Generated webyast client documentation</title>
</head>
<body>
  <h2>Framework documentation</h2>
  <div>
    <a href="./webclient/index.html"> Web-client framework </a>
  </div>
  <h2> Plugins documentation </h2>
  <div>
  %%PLUGINS%%
  </div>

</body>
</html>
