<div>
	<% perm_id = permissions.collect { |p| p.id }.sort
		 perm_id.each do |p| %>
	<div><a class="button"> <%= p %> </a></div>
	<% end %>
</div>
<div style="position=right">
	<% perm_id.each do |p| %>
	<div><a onClick="" class="button"> <%= p %> </a></div>
	<% end %>
</div>
<div>
	<% permissions.each do |p| %>
		<p id="<%= "#{p.id}-description"%>"> <%= p.try(:description)||"" %></p>
	<% end %>
<div>
