/*
Syntax error: "#6eb928" is not a color for `lighten'
        on line 27 of style.sass

22: $c_header: "#6eb928"
23: $c_text: "#111111"
24: $c_anchor_underline: "#0e5148"
25: $c_error: "#990000"
26: $c_white: "#ffffff"
27: $c_fieldset: lighten($c_header, 60%)
28: $c_background: lighten($c_header, 80%)
29: @c_button: lighten($c_anchor_underline, 50%)
30: 
31: /* == Basic setup  ========================================================
32: 

Backtrace:
style.sass:27
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/script/funcall.rb:74:in `_perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/script/node.rb:61:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/tree/variable_node.rb:30:in `_perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/tree/node.rb:322:in `map'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/tree/node.rb:313:in `perform!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/tree/root_node.rb:59:in `perform!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/tree/node.rb:301:in `_perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/tree/root_node.rb:37:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/tree/root_node.rb:29:in `render'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/plugin.rb:221:in `update_stylesheet'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/plugin.rb:72:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/plugin.rb:72:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/sass/plugin.rb:72:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/haml/exec.rb:425:in `watch_or_update'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/haml/exec.rb:347:in `process_result'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/haml/exec.rb:42:in `parse'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/../lib/haml/exec.rb:22:in `parse!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.12/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: \"#6eb928\" is not a color for `lighten'\A         on line 27 of style.sass\A \A 22: $c_header: \"#6eb928\"\A 23: $c_text: \"#111111\"\A 24: $c_anchor_underline: \"#0e5148\"\A 25: $c_error: \"#990000\"\A 26: $c_white: \"#ffffff\"\A 27: $c_fieldset: lighten($c_header, 60%)\A 28: $c_background: lighten($c_header, 80%)\A 29: @c_button: lighten($c_anchor_underline, 50%)\A 30: \A 31: /* == Basic setup  ========================================================\A 32: "; }
