#mailForm input[type="text"] {  width: 200px; }

#mail_test_mail_address, #mail_submit  { float: left; vertical-align:middle; }

/*#mail_test_mail_address {width:125px!important;} */
#mail_test_mail_address { border-radius:0px; padding: 2px 3px 3px; }
#mail_submit { border-radius:0px; margin-left:-1px; }
#mail_test_mail_label {
 width:204px;
 float:left;
 display: inline-block;
 line-height: 24px;
}

