
<div class="language_selection">
  <div id="language_icons">
     <div>
       <%= show_language %>
     </div>
  </div>

  <script type="text/javascript">
     $(document).ready(
          function() {
           // define a dialog with available language icons
           $('#language_icons').dialog(
           {
    	     bgiframe: true,
    	     autoOpen: false,
    	     height: 300,
    	     modal: true
           });
           $('#language_icons').dialog('open');
      });
  </script>
</div>
