<h2><img src="/images/yast-config.png" height="23" width="23" border="0" /> <%= _("Base system setup") %></h2>

<h3><%= _("Your system setup was not completed. Please continue with setting up the modules.") %></h3>
<a href="/controlpanel/thisstep" class="button"><%=_("Set up the system")%></a>
