<html>
<head>
  <title>YUI Tester: <%= controller.action_name %></title>
  <%= javascript_include_tag "yui/yahoo",
                             "yui/dom",
                             "yui/event",
                             "yui/connection",
                             "yui/dragdrop",
                             "yui/container"%>
    <%= stylesheet_link_tag  'yui/container'%>

    <%= stylesheet_link_tag 'dialogstylesheet'%>

	    <script language="javascript">

		YAHOO.namespace('example.container');

		function initDialog() {
			var handleCancel = function() {
				this.cancel();
			}
			var handleSubmit = function() {
				this.submit();
  			    window.location.reload( false );
			}

			YAHOO.example.container.myDialog = new YAHOO.widget.Dialog("myDialog", { modal:true, visible:false, width:"500px", fixedcenter:true, constraintoviewport:true, draggable:true });
			var listeners = new YAHOO.util.KeyListener(document, { keys : 27 }, {fn:handleCancel,scope:YAHOO.example.container.myDialog,correctScope:true} );
			YAHOO.example.container.myDialog.cfg.queueProperty("keylisteners", listeners);
			YAHOO.example.container.myDialog.cfg.queueProperty("buttons", [{ text:"Save", handler:handleSubmit, isDefault:true },{ text:"Cancel", handler:handleCancel } ]);
			YAHOO.example.container.myDialog.render();

		}

		function editThing(thing_id, thing_name) {
		   document.myDialogForm.id.value = thing_id;
		   document.myDialogForm.thing_name.value = thing_name;
 		   YAHOO.example.container.myDialog.show();
		}

		function addThing() {
		   document.myDialogForm.id.value = "";
		   document.myDialogForm.thing_name.value = "";
 		   YAHOO.example.container.myDialog.show();
		}

		YAHOO.util.Event.addListener(window, "load", initDialog);

	</script>
</head>
<body>
    <div id="main">
        <% if flash[:notice] -%>
            <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
        <%= @content_for_layout %>
    </div>
</body>
</html>
