<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag "yast","grid","style","jquery.jqplot.css","jquery-ui-1.7.2.custom.css",
      :title=>"default", :charset=>"utf-8" # , :cache => "webclient-base.css" add after solve permissions problem
      %>

  <script type="text/javascript" charset="utf-8" src="/inc/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="/inc/jquery.query.js"></script>
  <script type="text/javascript" charset="utf-8" src="/inc/jquery.timers.js"></script>
  <!--[if IE]><script type="text/javascript" charset="utf-8" src="/javascripts/excanvas.js"></script><![endif]-->
  <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.jqplot.js"></script>
  <script type="text/javascript" charset="utf-8" src="/javascripts/plugin/jqplot.pieRenderer.js"></script>
  <script type="text/javascript" charset="utf-8" src="/inc/jquery.ui.custom.js"></script>

  <script type="text/javascript" charset="utf-8" src="/javascripts/script.js"></script>
  <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.validate.js"></script>
  <!-- browser detection -->
   <script type="text/javascript" charset="utf-8" src="/javascripts/jqbrowser-compressed.js"></script>
   <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.badbrowser.js"></script>

  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.jqModal.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.ui.core.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.ui.tabs.js"></script>

  <script type="text/javascript" charset="utf-8" src="/inc/shortcut.js"></script>
  <script type="text/javascript" charset="utf-8" src="/inc/yast.widgets.js"></script>
  <script type="text/javascript" charset="utf-8" src="/inc/yast.helpers.js"></script>
  <!-- custom page scripts and css -->
  <%= yield :head %>

  <title><%= _("WebYaST") %></title>
</head>
  <body id="shell" onload="">

  <noscript>
    <div id="no_js_warning">
      JavaScript support is missing or disabled. Please turn JavaScript on or use a supported browser (<a href='http://getfirefox.com'>FireFox 3.5 or better</a> or <a href='http://www.microsoft.com/windows/downloads/ie/getitnow.mspx'>Internet Explorer 8</a>).
    </div>
  </noscript>

    <div id="header">
      
      <%= link_to(image_tag("/images/webyast-logo.png", :alt =>"webyast" ),"/")  %>
      
      <h1><%= _("My Appliance") %></h1>

      <div id="login-wrapper">
      <% host = Host.find(session[:host]) rescue nil
        user = session[:user]
        if host.blank? || user.blank? -%>
      <% else -%>
        <ul>
          <li><%=_("Connected host:")%> <strong><%= host.name -%></strong></li>
          <li><%=_("User:")%> <strong><%= user -%></strong></li>
        </ul>
        <ul class='header-links'>
          <li><em><%= link_to _("Control panel"), '/controlpanel'%></em></li>
          <li><em><%= link_to _("Logout"), '/logout' %></em></li>
       </ul>
      <% end -%>
      </div>
    </div>
    
    <div id="content" class="container_12">
      
      <!-- here both flash and dynamic notifications should be added -->
      <div id="flash-messages" class="grid_12 alpha">
      <div id="language_selection"></div>
      <!-- show the flash messages -->
      
      <% flash.each do |flash_type, message| %>
        <%
          flash_icon = case flash_type
            when :error then "ui-icon-alert"
            else "ui-icon-info"
          end
          flash_style = case flash_type
            when :error then "ui-state-error"
            else "ui-state-highlight"
          end
        %>
        
        <div class="flash-message <%= flash_style %> ui-corner-all grid_12">
          <p><span class="ui-icon <%= flash_icon %>"></span><strong><%= message %></strong></p>
        </div>
        <% flash.delete flash_type -%>
      <% end %>
      </div> <!-- flash messages -->
      <div id="progress" style="display: none;">
        <%= image_tag("/images/working.gif") %><%=_("...Wait...")%>
      </div>
      
      <%= yield %>
    </div>
    <div id="footer" class="container_12">
      <div class="copy">&copy; 2009 Novell, Inc.</div>
    </div>

  </body>
</html>
