<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/inc/yast.css" type="text/css" media="screen" title="default" charset="utf-8" />
  <link rel="stylesheet" href="/inc/jqModal.css" type="text/css" media="screen" title="default" charset="utf-8" />
<link rel="stylesheet" href="/inc/ui.tabs.css" type="text/css" media="screen" title="default" charset="utf-8" />
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.query.js"></script>  
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.timers.js"></script>

  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.jqModal.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.ui.core.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.ui.tabs.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/shortcut.js"></script>  
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/yast.widgets.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/yast.helpers.js"></script>  

  <title>Yast Shell</title>
</head>
  <body id="shell" onload="">
    <div class="centeredblock roundedbox" id="header">
      <div class="valign">
        <div style="background-image: url(<%= @module_icon.nil? ? '/images/suse-logo.png' : @module_icon %>);" class="icon"></div>
        <h3 class="title">
          <%= @module_title.nil? ? 'Configure System' : @module_title %>
        </h3>
      </div>
    </div>
    <div class="centeredblock roundedbox" id="content">
      <div class="container">

      <!-- show the flash messages -->
      <% for name in [:notice, :warning, :message] %>
        <% if flash[name] %>
          <%= "<div id=\"notifications\" id=\"#{name}\">#{flash[name]}</div>" %>
        <% end %>
      <% end %>

      <div id="progress" style="display:none;">
        <%= image_tag("/images/working.gif") %><%=_("...Wait...")%>
      </div>

      <%= @content_for_layout %>
      </div>
    </div>


    <div class="centeredblock" id="footer">
      <div class="copy">&copy; 2009 Novell, Inc.</div>

      <div id="logout">
        <% user = session[:user] %>
        <% if user %>
          <%= link_to _("Logout"), '/logout' %>
        <% end %>
      </div>

      <div id="connectedHost">
        <% host = session[:host]
           if host!=nil && host!=""  
             if host.index("://") != nil
               host = host[host.index("://")+3, host.length-1] #extract "http(s)://"
             end -%>
             <% user = session[:user] -%>
             <div class="box">
               <p><%=_("Connected Host")%></p>
               <p><%=_("Name:")%> <%= host -%> <p>
               <%=_("User:")%> <%= user -%>
             </div>
           <% end -%>
      </div>

    </div>
  </body>
</html>
