<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--
# Webyast Webclient framework
#
# Copyright (C) 2009, 2010 Novell, Inc. 
#   This library is free software; you can redistribute it and/or modify
# it only under the terms of version 2.1 of the GNU Lesser General Public
# License as published by the Free Software Foundation. 
#
#   This library is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more 
# details. 
#
#   You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software 
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag "yast","grid","style","jquery.jqplot.css", "jquery-ui-1.7.2.custom.css",
      "jquery-ui-1.7.2.custom-accordion.css", "jquery-ui-1.7.2.custom-tabs.css",
      :title=>"default", :charset=>"utf-8"
      # key :cache is disabled, because user which run webyast doesn't have permission to write to 
      #             stylesheet directory and cache cannot be created.
      %>

  <script type="text/javascript" charset="utf-8" src="/inc/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="/inc/jquery.query.js"></script>
  <script type="text/javascript" charset="utf-8" src="/inc/jquery.timers.js"></script>

  <script type="text/javascript" charset="utf-8" src="/inc/jquery.ui.custom.js"></script>

  <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.validate.js"></script>
  <!-- browser detection -->
   <script type="text/javascript" charset="utf-8" src="/javascripts/jqbrowser-compressed.js"></script>
   <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.badbrowser.js"></script>

  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.jqModal.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.ui.core.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="/inc/jquery.ui.tabs.js"></script>

  <script type="text/javascript" charset="utf-8" src="/inc/shortcut.js"></script>
  <script type="text/javascript" charset="utf-8" src="/inc/yast.widgets.js"></script>
  <script type="text/javascript" charset="utf-8" src="/inc/yast.helpers.js"></script>
  <!-- custom page scripts and css -->
  <script type="text/javascript" charset="utf-8" src="/javascripts/browser_fixes.js"></script>
  <%= yield :before_script %>
  <script type="text/javascript" charset="utf-8" src="/javascripts/script.js"></script>
  <script type="text/javascript" charset="utf-8" src="/javascripts/application.js"></script>
  <%= yield :head %>

  <title><%= _("WebYaST") %></title>
</head>
  <body id="shell" onload="">
    <div id='browserWarning' style="display: none">
      <%= ( _("You are using an unsupported browser. Please switch to %sFireFox 3.5 or better%s or %sInternet Explorer 8%s. Thanks! [%sclose%s]") %
            ["<a href='http://getfirefox.com'>","</a>",
             "<a href='http://www.microsoft.com/windows/downloads/ie/getitnow.mspx'>", "</a>",
             "<a href='#' id='warningClose'>", "</a>"] ) %>
    </div>
    <noscript>
      <div id="no_js_warning">
        <%= ( _("JavaScript support is missing or disabled. Please turn JavaScript on or use a supported browser (%sFireFox 3.5%s or %sInternet Explorer 8%s).") %
            ["<a href='http://getfirefox.com'>","</a>",
             "<a href='http://www.microsoft.com/windows/downloads/ie/getitnow.mspx'>", "</a>"] ) %>
      </div>
    </noscript>
  
    <div id="header">
      
      <%= link_to(image_tag("/images/webyast-logo.png", :alt =>"webyast" ),"/")  %>
      
      <h1><%= _("My Appliance") %></h1>

      <div id="login-wrapper">
        <% host = Host.find(session[:host]) rescue nil
          user = session[:user]
          if host.blank? || user.blank? -%>
          <ul><li><%=_("Language:")%> <strong><%= link_to_remote(current_locale_name,
                  :update =>"language_selection", :url => { :controller => :main, :action => :select_language} ) %></strong></li></ul>
        <% else -%>
          <ul>
          <li><%=_("Language:")%> <strong><%= link_to_remote(current_locale_name,
                  :update =>"language_selection", :url => { :controller => :main, :action => :select_language} ) %></strong></li>
            <li><%=_("Connected host:")%> <strong><%= host.name -%></strong></li>
            <li><%=_("User:")%> <strong><%= user -%></strong></li>
          </ul>
          <ul class='header-links'>
            <li><em><%= link_to _("Control panel"), '/controlpanel'%></em></li>
            <li><em><%= link_to _("Logout"), '/logout' %></em></li>
          </ul>
        <% end -%>
      </div>
    </div>
    
    <div id="content" class="container_12">
      
      <!-- here both flash and dynamic notifications should be added -->
      <div id="flash-messages" class="grid_12 alpha">
        <div id="language_selection"></div>
        <!-- show the flash messages -->
      
        <% flash.each do |flash_type, message| %>
          <%
            flash_icon = case flash_type
              when :error then "ui-icon-alert"
              when :warning then "ui-icon-notice"
              else "ui-icon-info"
            end
            flash_style = case flash_type
              when :error then "ui-state-error"
              when :warning then "ui-state-warning"
              else "ui-state-highlight"
            end
          %>
        
          <div class="flash-message <%= flash_style %> ui-corner-all grid_12">
            <p><span class="ui-icon <%= flash_icon %>"></span><strong><%= message %></strong></p>
          </div>
          <% flash.delete flash_type -%>
        <% end %>
      </div> <!-- flash messages -->
      
      <div id="progress" style="display: none;">
        <%= image_tag("/images/working.gif") %><%=_("...Wait...")%>
      </div>
      
      <%= yield %>
    </div>

    <div id="footer" class="container_12">
      <div class="copy">&copy; 2009,2010 Novell, Inc.</div>
    </div>

  </body>
</html>
