 <div id="groups" style="display:none;" title="Groups"> 
   <div>
    <div>
     <div class="GContainerUser" style="width: 100px;" id="ContainerUser" onclick="moveItem(event,'ContainerGroups');"> </div>
     <div class="GContainerGroups" style="width: 400px;" id="ContainerGroups" onclick="moveItem(event,'ContainerUser');"> </div>
    </div>
   </div>
 </div>

 <div id="def_group" style="display:none;" title="Default Group"> 
   <div>
    <div>
     <div class="GContainerGroups" style="width: 400px;" id="ContainerDefaultGroup" onclick="selectItem(event);"> </div>
    </div>
   </div>
 </div>
