<!--
# Copyright (c) 2009-2010 Novell, Inc.
#
# All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
#
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<div id="administrator" class="module">
  <h1 class="module-header"><img class="module-logo" src="/icons/administrator.png"/>Administrator Settings</h1>
  <% form_for(:administrator, @administrator, :url => { :action => "update" }, :html => { :method => :put, :id => "adminForm", :class=>"webyast_form", :onsubmit => "disable_forms ()", :autocomplete => :off } ) do |f| %>
    <div class="module-form">

      <div class="fieldcontain" data-role="fieldcontain">
         <label>New Password</label>
         <%= f.password_field :password %>
         <label>Confirm Password</label>
         <%= f.password_field :confirm_password, :equalTo => "#administrator_password", :class => "required" %>
      </div>

      <p class="form-divider">&nbsp;</p>

      <div class="fieldcontain" data-role="fieldcontain">
        <label>Forward mail to</label>
        <%= f.text_field :aliases, :class => "emails" %>
      </div>

      <input type="submit" value="submit">


</div><!-- /grid-a -->



    </div>
  <%end%>
</div>

