<html>
<head>
  <title><%= controller.action_name %></title>
  <%= javascript_include_tag "yui/yahoo",
                             "yui/dom",
                             "yui/event",
                             "yui/connection",
                             "yui/dragdrop",
                             "yui/treeview"%>
    <%= stylesheet_link_tag  'yui/treeview'%>

    <%= stylesheet_link_tag 'permission'%>

 </head>
<h1>User Permissions</h1>
<br>
<% form_tag '/permission/search' do %>
  <p><label for="user">User</label>
  <input type="text" name="user" size=25>
  <%= submit_tag "Search" %>
<% end %>

<table border="1" align="left" hspace=1 vspace=1>
<colgroup>
<col width="200" span="2">
<col>
</colgroup>
<tr>
<th>Revoked Permissions</th>
<th>Granted Permissions</th>
</tr>
<tr>
<td valign="top">
<body>
    <div id="revoketree"></div>

    <script type="text/javascript">
    //<![CDATA[
       <%= "#{@revoke_data}" %>
    //]]>

    //<![CDATA[

    function revokeAddChildrenNodes(currLevel, nodeIndex, parent) {
      var lastNode;
      var level = currLevel;

      while (nodeIndex < revoke_data.length) {
        var level = revoke_data[nodeIndex];
        if (level == currLevel) {
           nodeIndex++;
           lastNode = new YAHOO.widget.TextNode(revoke_data[nodeIndex++], parent, false);
        } else if (level < currLevel) {
           return nodeIndex;
        } else {
           nodeIndex = revokeAddChildrenNodes(level, nodeIndex, lastNode);
        }
      }
      return nodeIndex;
    }

    function revoketree_Init() {
      var tree = new YAHOO.widget.TreeView("revoketree");
      revokeAddChildrenNodes(0, 0, tree.getRoot());
      tree.draw();
    }

    YAHOO.util.Event.addListener(window, "load", revoketree_Init);

    //]]>

    </script>
</body>
</td>
<td valign="top">
<body>
    <div id="granttree"></div>

    <script type="text/javascript">
    //<![CDATA[
       <%= "#{@grant_data}" %>
    //]]>
    
    //<![CDATA[
    
    function grantAddChildrenNodes(currLevel, nodeIndex, parent) {
      var lastNode;
      var level = currLevel;
  
      while (nodeIndex < grant_data.length) {
        var level = grant_data[nodeIndex];
        if (level == currLevel) {
           nodeIndex++;
           lastNode = new YAHOO.widget.TextNode(grant_data[nodeIndex++], parent, false);
        } else if (level < currLevel) {
           return nodeIndex;
        } else {
           nodeIndex = grantAddChildrenNodes(level, nodeIndex, lastNode);
        }
      }
      return nodeIndex;
    }

    function granttree_Init() {
      var tree = new YAHOO.widget.TreeView("granttree");
      grantAddChildrenNodes(0, 0, tree.getRoot());
      tree.draw();
    }

    YAHOO.util.Event.addListener(window, "load", granttree_Init);

    //]]>

    </script>
</body>
</td>
</tr>
</table>


</html>
