
<div class="title">Services Configuration</div>

<hr/>

<table style="border: solid; border-width: 1px;">
<% 
@services.each do | s |
%>
<tr><td><%= link_to s.link, :action => s.link %></td></tr>
<% end %>
</table>
<br>
<%= link_to 'Back', :controller => 'main' %>


