<html>

<script language="javascript">
 
  YAHOO.namespace('yuiresult');

  function initResultDialog() {
    var handleCancel = function() {
      this.cancel();
    }

    YAHOO.yuiresult.resultDialog = new YAHOO.widget.Dialog("resultdlg", {
       width: "625px",
       modal: true, 
       visible: false,
       fixedcenter: true, 
       constraintoviewport: true, 
       draggable: true });

    YAHOO.yuiresult.resultDialog.render();
  }

  function showResultDialog() {
    YAHOO.yuiresult.resultDialog.show();
  }

  YAHOO.util.Event.addListener(window, "load", initResultDialog);
</script>


<!-- begin: dialog box -->
<div id="resultdlg">
</div>
<!-- end: dialog box -->

<body>

<h1>Services</h1>
<br>

<% for table_counter in 0..@table.size-1 do %>
   <div class="table">
      <img src="/images/bg-th-left.gif" width="8" height="7" alt="" class="left" />
      <img src="/images/bg-th-right.gif" width="7" height="7" alt="" class="right" />
      <table class="listing" cellpadding="0" cellspacing="0">
         <tr>
           <% for column_counter in 0..3 do %>
              <% if @services.size > table_counter*4+column_counter %>
                 <% if column_counter == 0 %>
    	            <th class="first" width=17%><%=h @services[table_counter*4+column_counter].link %></th>
                 <% elsif column_counter == 3 %>
    	            <th class="last" width=17%><%=h @services[table_counter*4+column_counter].link %></th>
                 <% else %>
    	            <th width=17%><%=h @services[table_counter*4+column_counter].link %></th>
                 <% end %>
              <% else %>
                 <% if column_counter == 3 %>
    	            <th class="last" width=17%></th>
                 <% else %>
    	            <th width=17%></th>
                 <% end %>
              <% end %>
           <% end %>
         </tr>
         <% for line_counter in 0..@table[table_counter]-1 do %>         
            <tr>
               <% for column_counter in 0..3 do %>
                  <% if @services.size > table_counter*4+column_counter %>
                     <% command_list = @services[table_counter*4+column_counter].command_list %>
                     <% if line_counter < command_list.size %>
                        <td>
                            <% if command_list[line_counter][:name] == "configure" %>
                               <%= link_to image_tag("#{command_list[line_counter][:icon]}", :alt =>  "icon"), 
                                                     :id=>"config",
                                                     :action =>@services[table_counter*4+column_counter].link %>
                               <strong><%= link_to "#{command_list[line_counter][:name]}",  :id=>"config",
                                                     :action =>@services[table_counter*4+column_counter].link %></strong>
                            <% else %>
                               <% if @execute_permission == nil %>
                                  <%= link_to_remote image_tag("#{command_list[line_counter][:icon]}", :alt =>  "icon"), 
                                                   :update => "resultdlg",
						   :url=>{ :id=> command_list[line_counter][:name], 
                                                           :action => "execute", 
                                                           :service_id=> @services[table_counter*4+column_counter].link },
						   :loading => "Element.show('progress');",
						   :complete => "Element.hide('progress'); showResultDialog();" %>
                                  <strong><%= link_to_remote "#{command_list[line_counter][:name]}",
                                                   :update => "resultdlg",
						   :url=>{ :id=> command_list[line_counter][:name], 
                                                           :action => "execute", 
                                                           :service_id=> @services[table_counter*4+column_counter].link },
						   :loading => "Element.show('progress');",
						   :complete => "Element.hide('progress'); showResultDialog();"
                                          %></strong>
                               <% else %>
                                  <%= image_tag("#{command_list[line_counter][:icon]}", :alt =>  "icon") %>
                                  <strong><span style="color: #BDBDBD"><%="#{command_list[line_counter][:name]}" -%></span></strong>
                               <% end %> 
                            <% end %> 
                        </td>
                     <% else %> 
                        <td> </td>
                     <% end %> 
                  <% else %>
                     <% if column_counter == 3 %>
    	                <td class="last" width=17%></td>
                     <% else %>
      	                <td width=17%></td>
                     <% end %>
                  <% end %> 
               <% end %> 
            </tr>
         <% end %>
      </table>
   </div>
<% end %>
<body>
</html>
