<%= report_error(error, _("An problem occured when loading status information.")) if error %>

<div class="status_status">
  <% link_to "status" do %>
    <% unless status.blank? %>
      <div class="status-icon <%= level %>"></div>
      <span><%= status %></span>
    <% else %>
       <div class="status-icon ok"></div>
       <span><%= _("Your system is healthy.") %></span>
    <% end %>
  <% end %>
</div>
