<div class="status_status">
  <% unless status %>
    <img src="/images/button_warning.png" alt="warning icon" />
    <%= _("Error occur during loading status information.") %>
  <% else %>
    <% link_to "status" do %>
      <% if !status.blank? %>
        <img src="/images/button_critical.png" alt="error found"/>
        <%= status %>          
      <% else %>
        <img src="/images/button_ok.png" alt="Your system is healthy"/>
        <%= _("Your system is healthy.") %>
      <% end %>
    <% end %>
  <% end %>
</div>
