
<h2>Status</h2>

<%= graph("test_graph1", 400, 300, false) %>

<%= graph("test_graph2", 400, 300, true) %>

<script type="text/javascript">


function plotLineGraph(graph_id, graph_title, graph_data ) {
  $.jqplot(graph_id, graph_data, {
      title: graph_title,
      axes: {
        xaxis: {
         showTicks: false
        },
        yaxis: {
          showTicks: false
        }        
      },

  series:[{color:'#5FAB78'}]
    });
}



  function getDataAndPlotLineGraph(graph_id, graph_title) {
     $('#' + graph_id).html("");
     plotLineGraph(graph_id, graph_title, [[[1, 2],[3,5.12],[5,13.1],[7,33.6],[9,85.9],[11,219.9]]]);
  }


  $(function() {
    getDataAndPlotLineGraph('test_graph1', 'testing graph' );
    getDataAndPlotLineGraph('test_graph2', 'testing graph' );

  });
</script>

