<div class="status_status">
  <% unless status %>
    <div class="status-icon warning"></div>
    <span><%= _("Error occur during loading status information.") %></span>
  <% else %>
    <% link_to "status" do %>
      <% if !status.blank? %>
        <img src="/images/button_critical.png" alt="error found"/>
        <%= status %>          
      <% else %>
        <img src="/images/button_ok.png" alt="Your system is healthy"/>
        <%= _("Your system is healthy.") %>
      <% end %>
    <% end %>
  <% end %>
</div>
