
<script type="text/javascript">
$(document).ready(function() {
  $('#details-link').click(function() { $('#backtrace').hide();$(this).next().show();return false; });
});
</script>

<h1>This is embarrasing....</h1>

<p>We are sorry, but WebYaST is still in alpha and there are some problems.</p>

<h2>Error Message:</h2>

<p><pre><%= h error.to_s %></pre></p>

<p>Please <a href="<%= @bug_url %>">Report a bug so we can fix the problem!.</a> Don't forget to include the bug details.</p>

<a href="#" id="details-link">Show details...</a>

<pre id="backtrace" style="display: none">
<%= (error.nil? || error.backtrace.nil? || error.backtrace.blank?) ? "No information available" : error.backtrace.join("\n") %>
</pre>





