
<script language="javascript" src="/javascripts/mootools.v1.11.js"></script>
<script language="javascript" src="/javascripts/nogray_time_picker_min.js"></script>

<input type="text" name="time2" id="time2" /> <a href="#" id="time2_toggler">Open time picker</a>
<div id="time2_picker" class="time_picker_div"></div>
<script>var tp = new TimePicker('time2_picker', 'time2', 'time2_toggler',
  {visible:true, imagesPath:"/images"});</script>
