  <h1>Hosts</h1>
  <h1>&nbsp;</h1>
    <h2>Select a known host or enter URL</h2>
    <div class="table">
      <img src="img/bg-th-left.gif" width="8" height="7" alt="" class="left" />
      <img src="img/bg-th-right.gif" width="7" height="7" alt="" class="right" /> 
      <% form_tag( { :action => "connect" } ) do -%>
        <%= select :host, :url, @hosts, {}, { :size => 10 } -%>
	<p style="clear:both"/>
	<table class="listing form" cellpadding="0" cellspacing="0">
	  <tr>
	    <td class="first" width="20"><strong>Host URL</strong></td>
	    <td class="last"><%= text_field_tag 'url', {}, { :size=>"50" } %></td>
	  </tr>
	</table>
	<%= submit_tag 'Connect', { :class => "lbutton" } %>
      <% end -%>
      <br/>
      <%= link_to "Rescan", { :action => "scan"}, { :class => "button" } -%>
    </div>


