<%
controllers = session[:controllers] 
controllers.sort.each do |c|
 if controllers[c[0]].read_permission -%>
   <li>
    <span>
      <span>
        <a href="/<%=c[0]-%>" onclick="Element.show('progress')"><%=controllers[c[0]].visible_name.capitalize -%></a>
      </span>
    </span>
   </li>
<% end -%>
<% end -%>
