<%
trans = { "services"=>_("Services"), 
          "language"=>_("Language"), 
          "users"=>_("Users"), 
          "permissions"=>_("Permissions"), 
          "patch_updates"=>_("Patches"),
          "system_time"=>_("Systemtime"),
          "session"=>_("Session") }

controllers = session[:controllers] 
controllers.sort.each do |c|
   visible_name = trans[c[0]]
   visible_name = c[0] if visible_name == nil

   if controllers[c[0]].read_permission -%>
     <li>
      <span>
        <span>
          <a href="/<%=c[0]-%>" onclick="Element.show('progress')"><%=visible_name.capitalize -%></a>
        </span>
      </span>
     </li>
   <% end -%>
<% end -%>
