<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>YaST 3</title>

</head>

<body>

<img src="/images/Yast_crystal_logo_gray.png"/>
<img src="/images/n-geeko.png"/>

<%= @content_for_layout %>

</body>
</html>  
